.blog {
  padding-top: 47px;
  padding-bottom: 65px;
}

.blog__container {
  text-align: center;

  h2 {
    margin: 0;
    margin-bottom: 19px;
    font-family: $cormorant;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.03em;
  }
}

.blog__link {
  display: inline-block;
  margin-bottom: 60px;
  line-height: 25px;
  border-bottom: .5px solid $brown-decor;
  color: $black-main;

  &:hover,
  &:focus {
    color: $brown-decor;
    border-bottom: 1px solid $black-main;
  }
}

.blog__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-template-areas:
  'topleft right'
  'botleft right';
  column-gap: 30px;
  row-gap: 30px;
}

.blog__item {
  display: flex;

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  &--article-1 {
    grid-area: topleft;
  }

  &--article-2 {
    grid-area: botleft;
  }

  &--article-3 {
    position: relative;
    grid-area: right;

    .blog__image {
      width: 100%;
    }

    .blog__art-info {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .blog__article-link {
      margin-bottom: 35px;
    }
  }
}

.blog__image {
  width: 50%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blog__art-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  width: 50%;
  min-height: 300px;
  background-color: $grey-blog;

  p {
    margin: 0;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
    color: $grey-main;
  }

  h3 {
    margin: 0;
    margin-bottom: 35px;
    max-width: 163px;
    font-family: $cormorant;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
  }
}

.blog__article-link {
  display: inline-block;
  padding-bottom: 4px;
  line-height: 21px;
  color: $black-main;
  border-bottom: 1px solid $brown-decor;

  &:hover,
  &:focus {
    color: $brown-decor;
    border-bottom: 1px solid $black-main;
  }
}

@media (max-width: $tablet-width-max) {
  .blog {
    padding-bottom: 25px;
  }

  .blog__list {
    display: block;
  }

  .blog__item {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .blog__item {
    &--article-3 {
      .blog__image {
        width: 50%;
      }

      .blog__art-info {
        position: relative;
      }

      .blog__article-link {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: $mobile-width-max) {
  .blog__link {
    margin-bottom: 49px;
  }

  .blog__item {
    margin: 0 auto 40px auto;
  }

  .blog__item {
    flex-direction: column;

    &:nth-child(2n) {
      flex-direction: column;
    }

    .blog__image {
      width: 100%;
    }

    &--article-3 {
      .blog__article-link {
        margin-bottom: 0;
      }
    }
  }

  .blog__art-info {
    width: 100%;
    min-height: 256px;
  }
}
