.catalog-filter__wrapper {
  margin-bottom: 35px;
  border: 1px solid $brown-decor;
}

.catalog-filter__item {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 22px;
  padding-left: 25px;
  padding-right: 25px;
  border: 0;
  border-bottom: 1px solid $brown-decor;
  cursor: pointer;

  &:last-child {
    border-bottom: 1px solid $brown-decor;
  }

  h2 {
    position: relative;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      right: 0;
      width: 15px;
      height: 8px;
      background-image: url('../img/arrow-up-icon.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px 8px;
      transform: rotate(180deg);
    }
  }

  &--active {
    padding-bottom: 24px;

    h2 {
      margin-bottom: 19px;

      &::before {
        transform: rotate(0deg);
      }
    }

    .catalog-filter__content {
      height: min-content;

      &--price {
        padding: 20px 0;
        padding-bottom: 16px;
      }
    }
  }

  &--price {
    padding-bottom: 10px;

    h2 {
      margin-bottom: 5px;
    }
  }
}

.catalog-filter__content {
  height: 0;
  overflow: hidden;
}

@media (max-width: $tablet-width-max) {
  .catalog-filter {
    display: none;

    &--opened {
      display: block;
      position: fixed;
      overflow-y: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $white-basic;
      z-index: $modal-index;
    }
  }

  .catalog-filter__form {
    display: block;
    position: relative;
    margin: 27px auto;
    width: 58%;
    box-shadow: 0px 5px 32px rgba(219, 213, 208, 0.24);
  }

  .catalog-filter__wrapper {
    margin-bottom: 0;
    border: none;
  }

  .catalog-filter__item {
    padding: 33px 40px 34px 43px;

    h2 {
      font-size: 18px;
      line-height: 23px;

      &::before {
        width: 25px;
        height: 15px;
        background-size: 25px 15px;
      }
    }

    &--active {
      padding-bottom: 36px;

      .catalog-filter__content {
        &--price {
          padding-left: 10px;
          width: 87%;
        }
      }

      h2 {
        margin-bottom: 20px;
      }
    }

    &--price {
      h2 {
        margin-bottom: 12px;
      }
    }
  }

  .catalog-filter__buttons {
    padding: 40px;
    padding-left: 42px;
  }
}

@media (max-width: $mobile-width-max) {
  .catalog-filter__form {
    margin: 76px auto;
    width:  84.5%;
    max-width: 458px;
  }

  .catalog-filter__item {
    padding: 25px 20px 24px 20px;

    h2 {
      font-size: 18px;
      line-height: 23px;
    }

    &--active {
      padding-bottom: 27px;

      .catalog-filter__content {
        &--price {
          padding-left: 0;
          width: 100%;
        }
      }
    }
  }

  .catalog-filter__buttons {
    padding: 26px 20px 26px 20px;
  }
}
