.faq {
  padding-top: 65px;
  padding-bottom: 54px;
}

.faq__container {
  text-align: center;
  padding: 0 198px;

  h2 {
    font-family: $cormorant;
    font-weight: 700px;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.03em;
  }
}

.faq__questions {
  text-align: left;
  border: 1px solid $brown-decor;
}

.faq__tab {
  padding: 50px 50px 50px 38px;
  border-bottom: 1px solid $brown-decor;

  h3 {
    position: relative;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 7px;
      right: 0;
      width: 15px;
      height: 10px;
      background-image: url('../img/arrow-up-icon.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px 10px;
    }
  }

  p {
    margin: 0;
    font-weight: 400;
    line-height: 21px;
    height: 0;
    overflow: hidden;
  }

  &:last-child {
    border-bottom: none;
  }

  br {
    display: none;
  }

  &--active {
    h3 {
      margin-bottom: 20px;

      &::before {
        transform: rotate(180deg);
      }
    }

    p {
      height: min-content;
      padding-left: 12px;
      width: 57%;
      transition: $transition-time-slow;
    }
  }
}

@media (max-width: $tablet-width-max) {
  .faq {
    padding-top: 40px;
    padding-bottom: 42px;
  }

  .faq__container {
    padding: 0 45px;
  }

  .faq__tab {
    padding-left: 38px;

    h3 {
      &::before {
        width: 23px;
        height: 12px;
        background-size: 23px 12px;
      }
    }

    &--active {
      h3 {
        margin-bottom: 35px;
      }

      p {
        padding-left: 0;
        width: 95%;
      }
    }
  }
}

@media (max-width: $mobile-width-max) {
  .faq {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .faq__container {
    padding: 0 15px;
  }

  .faq__tab {
    padding: 22px 25px 25px 25px;

    h3 {
      padding-right: 12%;
      font-size: 16px;
      line-height: 22px;

      &::before {
        width: 20px;
        height: 10px;
        background-size: 20px 10px;
      }
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }

    &--active {
      h3 {
        margin-bottom: 25px;
      }

      p {
        width: 95%;
      }
    }
  }
}

@media (max-width: 420px) {
  .faq__tab {
    br {
      display: inline;
    }
  }
}
