.filter-checkbox {
  @include list-reset;
  margin-left: 10px;
}

.filter-checkbox__item {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid $brown-decor;
      transform: translateY(-50%);
    }
  }

  input:checked + label {
    &::before {
      background-color: $brown-decor;
    }
  }

  input:focus + label {
    outline: 1px solid $grey-main;
  }
}


@media (max-width: $tablet-width-max) {
  .filter-checkbox {
    padding-top: 2px;
  }

  .filter-checkbox__item {
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      padding-left: 30px;
      font-size: 16px;
      line-height: 21px;

      &::before {
        width: 18px;
        height: 18px;
      }
    }
  }
}
