.filter-checkbox {
  @include list-reset;
  margin-left: 10px;
}

.filter-checkbox__item {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid $brown-decor;
      transform: translateY(-50%);
    }
  }

  input:checked + label {
    &::before {
      background-color: $brown-decor;
    }
  }
}
