.footer-nav {
  display:flex;
  align-items: flex-start;

  a {
    color: $white-basic;
    line-height: 21px;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }
}

.footer-nav__menu-list {
  @include list-reset;
  display: flex;
  width: 65.3%;
}

.footer-nav__menu-subitem {
  &:nth-child(2n) {
    padding-left: 71px;
  }
}

.footer-nav__menu-sublist {
  @include list-reset;
}

.footer-nav__menu-item {
  margin-bottom: 18px;
}

.footer-nav__social-list {
  @include list-reset;
  padding-left: 54px;
  margin-left: auto;
  width: 30%;
  min-width: 130px;
}

.footer-nav__social-item {
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-nav__social-icon {
  margin-right: 10px;
  fill: $white-basic;

  &--instagram {
    margin-left: 5px;
  }

  &--facebook {
    margin-right: 14px;
    margin-left: 9px;
  }

  &--pinterest {
    margin-left: 5px;
  }

  &--twitter {
    margin-left: 5px;
  }
}

@media (max-width: 1120px) {
  .footer-nav__menu-subitem {
    &:nth-child(2n) {
      margin-left: auto;
      margin-right: auto;
      padding-left: 73px;
    }
  }

  .footer-nav__social-list {
    padding-left: 40px;
  }
}

@media (max-width: $mobile-width-max) {
  .footer-nav {
    display: block;
  }

  .footer-nav__menu-list {
    display: block;
    width: 100%;
  }

  .footer-nav__menu-subitem {
    margin-bottom: 36px;

    &:nth-child(2n) {
      padding-left: 0;
    }
  }

  .footer-nav__social-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 0;
    width: 100%;

    span {
      display: none;
    }
  }

  .footer-nav__social-item {
    margin-bottom: 0;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  .footer-nav__social-icon {
    margin: 0;
    width: 20px;
    height: 21px;

    &--facebook {
      width: 12px;
    }

    &--twitter {
      height: 18px;
    }
  }
}
