.form {
  &--login-page {
    width: 31.4%;
    height: 586px;
    min-width: 430px;
    max-height: 90vh;
  }
}

.form__wrapper {
  position: relative;
  padding: 187px 45px 55px 45px;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 138px;
    background-image: url('../img/intro-logIn-desktop@1x.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 138px;

    @media (min-resolution: 2dppx) {
      background-image: url('../img/intro-logIn-desktop@2x.jpg');
    }
  }
}

.form__title {
  margin: 0;
  margin-bottom: 23px;
  font-family: $cormorant;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
}

.form__input-wrapper {
  input {
    padding: 9px;
    padding-left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $black-main;
    outline: none;

    &::placeholder {
      font-size: 14px;
      line-height: 21px;
      color: $grey-main;
    }
  }

  &--email {
    margin-bottom: 25px;
  }

  &--password {
    position: relative;
    margin-bottom: 43px;
    padding-bottom: 24px;

    a {
      position: absolute;
      bottom: 0;
      right: 3px;
      font-size: 12px;
      line-height: 18px;
      color: $grey-main;
    }
  }
}

.form__button {
  margin-bottom: 15px;
}

.form__sign-up-text {
  p {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    color: $grey-main;
  }

  a {
    color: $black-main;
  }
}

@media (max-width: $tablet-width-max) {
  .form__wrapper {
    padding-left: 51px;
    padding-right: 51px;
  }
}

@media (max-width: $mobile-width-max) {
  .form__wrapper {
    padding: 129px 15px 45px 15px;

    &::before {
      height: 84px;
      background-image: url('../img/intro-logIn-mobile@1x.jpg');
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url('../img/intro-logIn-mobile@2x.jpg');
      }
    }
  }
}
