.goods__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-top: -$catalog-cards-vertical-offset / 2;
  margin-bottom: -$catalog-cards-vertical-offset / 2;
  margin-left: -$catalog-cards-offset / 2;
  margin-right: -$catalog-cards-offset / 2;
}

.goods__item {
  margin-top: $catalog-cards-vertical-offset / 2;
  margin-bottom: $catalog-cards-vertical-offset / 2;
  margin-left: $catalog-cards-offset / 2;
  margin-right: $catalog-cards-offset / 2;
  width: calc(100% / 3 - #{$catalog-cards-offset});
  line-height: 21px;
  text-align: center;

  h3 {
    margin: 0;
    margin-bottom: 4px;
    padding-left: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  span {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }
}

.goods__image {
  margin-bottom: 17px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: $mobile-width-max) {
  .goods__list {
    margin: -$catalog-cards-offset / 2;
    margin-bottom: -$catalog-cards-vertical-offset-mobile / 2;
  }

  .goods__item {
    margin: $catalog-cards-offset / 2;
    margin-bottom: $catalog-cards-vertical-offset-mobile / 2;
    width: calc(100% / 2 - #{$catalog-cards-offset});

    h3 {
      padding-left: 2px;
    }
  }

  .goods__image {
    margin-bottom: 14px;
  }
}
