.insta {
  padding-top: 54px;
  padding-bottom: 109px;
}

.insta__container {
  text-align: center;

  h2 {
    margin: 0;
    margin-bottom: 32px;
    font-family: $cormorant;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.03em;
  }
}

.insta__link {
  display: inline-block;
  margin-bottom: 60px;
  line-height: 25px;
  border-bottom: .5px solid $brown-decor;
  color: $black-main;
  vertical-align: middle;

  &:hover,
  &:focus {
    color: $brown-decor;
    border-bottom: 1px solid $black-main;
  }
}

.insta__photo-block {
  @include list-reset;
  display: grid;
  grid-template-columns: 20% 34% 20% 20%;
  grid-template-rows: 53% 34%;
  grid-template-areas: 'topleft middleleft middletopright topright'
  'bottomleft middleleft middlebotright bottomright';
  column-gap: 24px;
  row-gap: 34px;
}

.insta__photo {
  &--1 {
    grid-area: topleft;
  }

  &--2 {
    grid-area: bottomleft;
  }

  &--3 {
    grid-area: middleleft;
  }

  &--4 {
    grid-area: middletopright;
  }

  &--5 {
    grid-area: middlebotright;
  }

  &--6 {
    grid-area: topright;
  }

  &--7 {
    grid-area: bottomright;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: $tablet-width-max) {
  .insta {
    padding-top: 42px;
    padding-bottom: 67px;
  }

  .insta__container {
    h2 {
      margin-bottom: 18px;
    }
  }

  .insta__photo-block {
    grid-template-rows: 53% 35%;
    column-gap: 14px;
    row-gap: 17px;
  }
}

@media (max-width: $mobile-width-max) {
  .insta {
    padding-top: 35px;
    padding-bottom: 44px;
  }

  .insta__link {
    margin-bottom: 46px;
  }

  .insta__photo-block {
    grid-template-columns: 46% 46%;
    grid-template-rows: 34% 22% 22%;
    grid-template-areas:
        'topleft topright'
        'middleleft topright'
        'bottomleft bottomright';
    column-gap: 24px;
    row-gap: 30px;
  }

  .insta__photo {
    &--1 {
      grid-area: topleft;
    }

    &--2 {
      grid-area: middleleft;
    }

    &--3 {
      grid-area: topright;
    }

    &--4 {
      display: none;
      grid-area: unset;
    }

    &--5 {
      grid-area: bottomleft;
    }

    &--6 {
      display: none;
      grid-area: unset;
    }

    &--7 {
      grid-area: bottomright;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
