.main-nav {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 37px;
  margin-left: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

.main-nav__item {
  margin-right: 3%;

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  color: $black-main;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }
}

@media (max-width: $tablet-width-max) {
  .main-nav {
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;
    font-size: 24px;
    line-height: 36px;
    color: $white-basic;
  }

  .main-nav__item {
    margin-right: 0;
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .main-nav__link {
    color: $white-basic;

    &:hover,
    &:focus {
      color: $black-main;
      opacity: 1;
    }
  }
}
