.new-in {
  padding-top: 130px;
  padding-bottom: 65px;
}

.new-in__container {
  text-align: center;

  h2 {
    margin: 0;
    margin-bottom: 35px;
    font-family: $cormorant;
    font-size: 34px;
    line-height: 44px;
  }
}

.new-in__link {
  display: inline-block;
  margin-bottom: 60px;
  line-height: 19px;
  border-bottom: .5px solid $brown-decor;
}

.new-in__list {

}

.new-in__item {

}
