.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $black-basic;
  color: $white-basic;
}
.page-footer__container {

}

.page-footer__subscribe {

}

.page-footer__footer-nav {

}
