.page-footer {
  padding-top: 91px;
  padding-bottom: 73px;
  background-color: $black-basic;
  color: $white-basic;
}
.page-footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 13px;
}

.page-footer__subscribe {
  padding: 0 79px 0 0;
}



@media (max-width: 1120px) {
  .page-footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    row-gap: 50px;
  }

  .page-footer__subscribe {
    margin-right: 0;
    padding: 0;
    width: 85%;
  }

  .page-footer__footer-nav {
    width: 87%;
  }
}

@media (max-width: $tablet-width-max) {
  .page-footer {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (max-width: $mobile-width-max) {
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-footer__container {
    display: block;
  }

  .page-footer__subscribe {
    width: 100%;
    margin-bottom: 50px;
  }

  .page-footer__footer-nav {
    width: 100%;
  }
}
