.page {
  height: 100%;
  font-family: $main-font;
  font-weight: 500;
  font-style: normal;
  color: $black-main;
  font-size: 16px;
  line-height: 24px;
}

.page-body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  position: relative;
  height: 100%;
  margin: 0;
  min-width: 320px;
  min-height: 100%;

  &--modal-opened {
    overflow: hidden;
  }
}

.page-main {
  flex: 1 0 auto;
}
