.page-header {
  padding-top: 30px;
  padding-bottom: 19px;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.page-header__search-wrapper {
  display: flex;
  align-items: center;
  margin-top: 9px;

  input {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border: none;
    outline: none;

    &::placeholder {
      font-size: 14px;
      line-height: 21px;
      color: $grey-main;
    }
  }
}

.page-header__search-icon {
  margin-right: 15px;
}

.page-header__logo {
  margin-right: auto;
  margin-left: auto;
  width: 66px;
  height: 66px;
}

.page-header__main-nav {
  width: 100%;
}

.page-header__hidden-nav {
  display: none;
}
