.price-range {
  position: relative;
  margin-bottom: 20px;
}

.price-range__scale {
  height: 2px;
  background-color: $grey-blog;
}

.price-range__bar {
  height: 2px;
  width: 55%;
  margin-left: 22%;
  background-color: $brown-decor;
}

.price-range__toggle {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 15px;
  background-color: $brown-decor;
  border-radius: 50%;
  transform: translateY(-50%);

  &::after {
    content: attr(data-toggle);
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: min-content;
    font-size: 14px;
    line-height: 18px;
    transform: translateX(-50%);
  }

  &--min {
    left: 22%;
  }

  &--max {
    left: 75%;
  }
}

@media (max-width: $tablet-width-max) {
  .price-range__bar {
    width: 57%;
    margin-left: 15%;
  }

  .price-range__toggle {
    width: 18px;
    height: 18px;

    &::after {
      bottom: -28px;
      left: 50%;
      font-size: 16px;
      line-height: 21px;
    }

    &--min {
      left: 15%;
    }

    &--max {
      left: 72%;
    }
  }
}

@media (max-width: $tablet-width-max) {
  .price-range__bar {
    width: 59%;
    margin-left: 13%;
  }

  .price-range__toggle {
    &--min {
      left: 13%;
    }

    &--max {
      left: 72%;
    }
  }
}
