.promo {
  position: relative;
  padding-top: 195px;
  padding-bottom: 194px;
  background-image: url('../../img/intro-main-desktop@1x.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url('../../img/intro-main-desktop@2x.jpg');
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $brown-overlay;
  }
}

.promo__container {
  position: relative;
  font-family: $cormorant;
  color: $white-basic;
  text-align: center;

  h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-size: 45px;
    font-style: italic;
    line-height: 58px;
    font-weight: 400;
  }
}
