.promo {
  position: relative;
  padding-top: 182px;
  padding-bottom: 183px;
  background-image: url('../img/intro-main-desktop@1x.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/intro-main-desktop@2x.jpg');
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $brown-overlay;
  }

  &--catalog {
    padding-top: 93px;
    padding-bottom: 95px;
    background-image: url('../img/intro-catalog-desktop@1x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url('../img/intro-catalog-desktop@2x.jpg');
    }
  }
}

.promo__container {
  position: relative;
  font-family: $cormorant;
  color: $white-basic;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-style: italic;
    font-size: 38px;
    line-height: 45px;
    font-weight: 400;
  }

  &--catalog {
    h1 {
      font-size: 34px;
      line-height: 44px;
      letter-spacing: unset;
    }

    p {
      font-weight: 500;
      font-size: 22px;
      line-height: 29px;
    }
  }
}
