.subscribe {
  h2 {
    margin: 0;
    margin-bottom: 10px;
    font-family: $cormorant;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.02em;
  }

  p {
    margin: 0;
    margin-bottom: 27px;
    font-weight: 400;
    line-height: 21px;
    color: $grey-main;
  }
}

.subscribe__input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $white-basic;

  input {
    padding: 15px;
    padding-bottom: 11px;
    padding-left: 0;
    width: 80%;
    font-weight: 500;
    background-color: transparent;
    border: none;
    outline: 0;
    caret-color: $white-basic;
    color: $white-basic;

    &::placeholder {
      font-size: 14px;
      line-height: 21px;
      color: $grey-main;
    }
  }
}

.subscribe__button {
  bottom: 0;
  right: 0;
}

@media (max-width: $mobile-width-max) {
  .subscribe {
    h2 {
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 23px;
      line-height: 22px;
    }
  }
}
