// regular

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-regular.woff2') format('woff2'),
      url('../fonts/poppins-regular.woff') format('woff');
    font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/cormorant-garamond-italic.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-italic.woff') format('woff');
  font-display: swap;
}

// medium

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-medium.woff2') format('woff2'),
    url('../fonts/poppins-medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/cormorant-garamond-medium-italic.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-medium-italic.woff') format('woff');
  font-display: swap;
}

// semi-bold

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/cormorant-garamond-semibold.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-semibold.woff') format('woff');
  font-display: swap;
}

// bold

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-bold.woff2') format('woff2'),
    url('../fonts/poppins-bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cormorant-garamond-bold.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-bold.woff') format('woff');
  font-display: swap;
}
