// regular

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
      url('../fonts/Poppins-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/CormorantGaramond-Italic.woff2') format('woff2'),
    url('../fonts/CormorantGaramond-Italic.woff2') format('woff');
  font-display: swap;
}

// medium

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  src: url('../../fonts/CormorantGaramond-MediumItalic.woff2') format('woff2'),
    url('../fonts/CormorantGaramond-MediumItalic.woff') format('woff');
  font-display: swap;
}

// semi-bold

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/CormorantGaramond-SemiBold.woff2') format('woff2'),
    url('../fonts/CormorantGaramond-SemiBold.woff') format('woff');
  font-display: swap;
}

// bold

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/CormorantGaramond-Bold.woff2') format('woff2'),
    url('../fonts/CormorantGaramond-Bold.woff') format('woff');
  font-display: swap;
}
