//viewports

$mobile-width-max: 767px;
$tablet-width-max: 1023px;
$desktop-width: 1920px;

//font

$main-font: 'Poppins', 'Arial', sans-serif;
$cormorant: 'Cormorant Garamond','Arial', sans-serif;

// black&white

$white-basic: #ffffff;
$white-basic-opacity-75: rgba($white-basic, 0.75);
$white-basic-opacity-15: rgba($white-basic, 0.15);

$black-basic: #000000;
$black-main: #1d1613;

//brown

$brown-overlay: rgba(86, 64, 52, 0.7);
$brown-decor: #a87b62;

//grey

$grey-main: #9b9997;
$grey-blog: #f0eae4;

//offset

$catalog-cards-offset: 30px;
$catalog-cards-vertical-offset: 40px;


//transition

$transition-time-slow: 300ms;
