// general

@import '../sass/general/normalize.scss';
@import '../sass/general/fonts.scss';
@import '../sass/general/variables.scss';
@import '../sass/general/mixin.scss';
@import '../sass/general/global.scss';
@import '../sass/general/z-indexes.scss';

// blocks

@import '../sass/blocks/button.scss';
@import '../sass/blocks/container.scss';
@import '../sass/blocks/visually-hidden.scss';
@import '../sass/blocks/page.scss';
@import '../sass/blocks/page-header.scss';
@import '../sass/blocks/page-footer.scss';
@import '../sass/blocks/user-nav.scss';
@import '../sass/blocks/main-nav.scss';
@import '../sass/blocks/hidden-nav.scss';
@import '../sass/blocks/promo.scss';
@import '../sass/blocks/new-in.scss';
@import '../sass/blocks/blog.scss';
@import '../sass/blocks/faq.scss';
@import '../sass/blocks/subscribe.scss';
@import '../sass/blocks/swiper.scss';





